<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="proje.Properties.Settings.adminpanelConnectionString"
            connectionString="Data Source=DESKTOP-9KVF81C\SQLEXPRESS;Initial Catalog=adminpanel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>